/**
* @name Revinal
* @version v1.0.1
* @description Theme based on the Revinal Discord Bot
* @author Emerald
* @invite ZZ5Pd3y3dx
* @Source https://github.com/Emerald-cmd/Revinal-Better-Discord-Theme
* @website https://revinal.xyz/
*/
@import url("https://raw.githubusercontent.com/Emerald-cmd/Revinal-Better-Discord-Theme/main/revinal.css");
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");
:root {
    --mainColor: #4cccea;
    --backgroundColor01: #2c2f33;
    --backgroundColor02: #23272a;
    --gradientColor01: #4CCCEAFF;
    --gradientColor02: #0e66ad;
    --customFont: 'PT Sans';
}