/**
* @name Revinal
* @version Auto Update
* @description Theme based on the Revinal Discord Bot
* @author Spectra
* @invite PZdnCVD
* @Source https://github.com/codedotspectra/themes
* @website https://betterdiscord.app/theme/Nocturnal
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/nocturnal.css");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans');
@import url('https://codedotspectra.github.io/themes/core/custom-font.css');
:root {
--mainColor: #4cccea;
--backgroundColor01: #2c2f33;
--backgroundColor02: #23272a;
--gradientColor01: #4CCCEAFF;
--gradientColor02: #0e66ad;
--customFont: 'PT Sans';
}